* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./1012935.jpg);
    background-size: cover;
    background-position: center;   
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: 0.2s;
}

button{
    border: none;
    border-radius: 20px;
    background-color: #ea1538;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 15px;
    transition: .1s;
    text-decoration: none;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

button:active{
    color: #ea1538;
    background-color: white;
}

.us {
    text-align: center;
}

